<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.sicoding">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QnA.QnAActivity"></activity>
        <activity android:name=".materi.DetailLatihanActivity" />
        <activity android:name=".materi.DetailMateriActivity" />
        <activity android:name=".kuisDatabase.mysql.ResultKuisMysqlActivity"></activity>
        <activity android:name=".kuisDatabase.mysql.KuisMysqlActivity" />
        <activity android:name=".kuisDatabase.json.ResultKuisJsonActivity" />
        <activity android:name=".kuisDatabase.json.KuisJsonActivity" />
        <activity android:name=".kuisDatabase.firebase.ResultKuisFirebaseActivity" />
        <activity android:name=".kuisDatabase.firebase.KuisFirebaseActivity" />
        <activity android:name=".kuisAndroid.kotlin.ResultKuisKotlinActivity" />
        <activity android:name=".kuisAndroid.kotlin.KuisKotlinActivity" />
        <activity android:name=".kuisAndroid.java.ResultKuisJavaActivity" />
        <activity android:name=".kuisAndroid.java.KuisJavaActivity" />
        <activity android:name=".kuisAndroid.KategoriKuisAndroid" />
        <activity android:name=".kuisDatabase.KategoriKuisDatabase" />
        <activity android:name=".kuisWeb.php.ResultKuisPHPActivity" />
        <activity android:name=".kuisWeb.php.KuisPHPActivity" />
        <activity android:name=".kuisWeb.javascript.ResultKuisJavaScriptActivity" />
        <activity android:name=".kuisWeb.javascript.KuisJavaScriptActivity" />
        <activity android:name=".kuisWeb.css.ResultKuisCSSActivity" />
        <activity android:name=".kuisWeb.css.KuisCSSActivity" />
        <activity android:name=".materi.ListMateriActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".kuisWeb.html.ResultKuisHTMLActivity" />
        <activity android:name=".kuisWeb.html.KuisHTMLActivity" />
        <activity android:name=".kuisWeb.boostrap.KuisBoostrapActivity" />
        <activity android:name=".kuisWeb.boostrap.ResultKuisBoostrapActivity" />
        <activity android:name=".kuisWeb.KategoriKuisWeb" />
        <activity android:name=".KategoriKuisActivity" />
        <activity android:name=".beranda.BerandaActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".WalkthroughActivity" />
        <activity android:name=".SplashScreenActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>